__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.env
.env.*
.venv/
venv/
ENV/
build/
dist/
.pytest_cache/
.cache/
.coverage
htmlcov/
.pyre/
.mypy_cache/
.DS_Store
.idea/
.vscode/
data/*
!data/.gitkeep
